@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Proxima Nova Alt/Proxima Nova Alt Bold.otf') format('truetype');
}
@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Proxima Nova Alt/Proxima Nova Alt Regular.otf') format('truetype');
}
