@import '_vars';

@mixin font($weight: normal, $size: 1em) {
    font-weight: $weight;
    font-size: $size;
    font-family: sans-serif;
}
@mixin button-empty($padding: 9px 14px) {
    text-decoration: none;
    text-transform: uppercase;
    padding: $padding;
    color: white;
    @include font(Bold, 12px);
    border: 3px solid white;
}
@mixin button($padding: 9px 14px) {
    text-decoration: none;
    text-transform: uppercase;
    padding: $padding;
    color: white;
    @include font(Bold, 14px);
    background-color: $orange;
}
