body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

div {
    box-sizing: border-box;
}

header {
    background: url(../img/first-bg-original.jpg) no-repeat center top / cover;
    height: 100vh;
}

.container {
    width: 930px;
    margin: 0 auto;
}

.logo {
    margin-top: 41px;
    float: left;
}

.clearfix:after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

nav {
    float: right;
    margin-top: 45px;
}

.menu {
    padding: 0;
    margin: 0;
    display: block;
}

.menu li {
    float: left;
    display: block;
    margin-right: 41px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

.menu a:hover {
    color: #fed136;
}

.titles__first {
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-top: 180px;
}

h1 {
    font-size: 75px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin: 15px;
}

.button {
    background: #fed136;
    color: #484543;
    border-radius: 3px;
    display: block;
    width: 240px;
    padding: 20px 0;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    margin-top: 50px;
}

.title {
    padding-top: 115px;
}

.title h2 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #222;
    margin: 0;
}

.title p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #777;
    margin-top: 5px;
}

.services {
    margin-top: 80px;
}

.services h3 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    color: #222;
    margin-bottom: 5px;
}

.services p {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #777;
    line-height: 1.55em;
}

.services__item {
    width: 270px;
    float: left;
    text-align: center;
}

.services__item:last-child {
    float: right;
}

.services__item:nth-child(2) {
    margin-left: 60px;
}

#portfolio {
    background-color: #f7f7f7;
    padding-bottom: 120px;
}

.works {
    margin-top: 70px;
}

.works img {
    float: left;
}

.works img:last-child {
    float: right;
}

.works img:nth-child(2) {
    margin-left: 29px;
}

.item-first {
    text-align: right;
    float: left;
    width: 280px;
    margin-left: 27px;
}

.item-second {
    text-align: left;
    float: right;
    width: 280px;
    margin-right: 27px;
}

.pic {
    margin-left: 373.5px;
}

#part-second {
    margin-top: 106px;
}

#history {
    padding-bottom: 0px;
}

#foot {
    text-align: center;
    padding-bottom: 114px;
}
