//========Colors=========
$red: #f38181;
$yellow: #fce38a;
$lime: #eaffd0;
$celadon: #95e1d3;
$gradient: linear-gradient(to bottom, $red, $yellow);
//====Font=Colors========
$grey: #333;
$light-grey: #999;
$light-color: #fff;
//=======================
